# Python Virtual Environment
.venv/

# Python Cache
__pycache__/
*.pyc

# dbt Logs
logs/
target/

# DuckDB Database files
*.duckdb
*.duckdb.wal

# Operating System Files
.DS_Store
Thumbs.db

# VS Code & Environment Variables
.vscode/
.env

# Project Archives & Data
GasStationDB.zip
GasStationDB/